.job_card{
    text-align:left;
    margin:5px;
    padding:20px 5px;
    border-bottom: 0.5px solid rgb(230, 227, 227);
    
   
    
}
.job_compay{
    color:gray;
    font-size:15px;
}
.job_name{
    color:#3491E0;
    font-size:15px;
}
.job_card-location{

    display:flex;
    align-items:center;
    gap:10px;
    
}

.job_card-skills{
display:flex;
gap:5px;
}

.job_card-skill{
    background:white;
    padding:10px 5px;
    border:1px solid #CFCDCD ;
    border-radius:20px;
    cursor:pointer;
}